body {
    font-family: 'Poppins', sans-serif;
    background-color: #ede7f6; /* morado suave */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.login-box {
    background-color: white;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: center;
    width: 350px;
}

.login-box h2 {
    color: #5e35b1;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    background-color: #5e35b1;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #4527a0;
}
